<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UltimateBlog</title>
</head>
<body>
    <ul>
    {% extends "base.html" %}

{% block content %}
            {% for post in posts %}
        <li>{{ post }}</li>
    {% empty %}
        <p>No posts so far!</p>
    {% endfor %}
    
    {% for post in posts %}
        <h3>{{ post }}</h3>
        <p>Read more <a href="{% url 'posts:post-detail' post.id %}">here</a></p>
    {% endfor %}
        {% include "header.html" with subtitle="Don't miss the cutting edge info!" %} 
{% endblock %}



</ul>

</body>
</html>